<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>北京</string>
		<key>lat</key>
		<real>39.920000000000002</real>
		<key>lon</key>
		<real>116.45999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>上海</string>
		<key>lat</key>
		<real>31.219999999999999</real>
		<key>lon</key>
		<real>121.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>天津</string>
		<key>lat</key>
		<real>39.130000000000003</real>
		<key>lon</key>
		<real>117.2</real>
	</dict>
	<dict>
		<key>city</key>
		<string>重庆</string>
		<key>lat</key>
		<real>29.59</real>
		<key>lon</key>
		<real>106.54000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>香港</string>
		<key>lat</key>
		<real>22.199999999999999</real>
		<key>lon</key>
		<real>114.09999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>澳门</string>
		<key>lat</key>
		<real>22.129999999999999</real>
		<key>lon</key>
		<real>113.33</real>
	</dict>
	<dict>
		<key>city</key>
		<string>台北</string>
		<key>lat</key>
		<real>25.050000000000001</real>
		<key>lon</key>
		<real>121.5</real>
	</dict>
	<dict>
		<key>city</key>
		<string>合肥</string>
		<key>lat</key>
		<real>31.859999999999999</real>
		<key>lon</key>
		<real>117.27</real>
	</dict>
	<dict>
		<key>city</key>
		<string>安庆</string>
		<key>lat</key>
		<real>30.52</real>
		<key>lon</key>
		<real>117.03</real>
	</dict>
	<dict>
		<key>city</key>
		<string>蚌埠</string>
		<key>lat</key>
		<real>32.93</real>
		<key>lon</key>
		<real>117.34</real>
	</dict>
	<dict>
		<key>city</key>
		<string>亳州</string>
		<key>lat</key>
		<real>33.520000000000003</real>
		<key>lon</key>
		<real>115.47</real>
	</dict>
	<dict>
		<key>city</key>
		<string>巢湖</string>
		<key>lat</key>
		<real>31.620000000000001</real>
		<key>lon</key>
		<real>117.87</real>
	</dict>
	<dict>
		<key>city</key>
		<string>滁州</string>
		<key>lat</key>
		<real>32.329999999999998</real>
		<key>lon</key>
		<real>118.31</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阜阳</string>
		<key>lat</key>
		<real>32.539999999999999</real>
		<key>lon</key>
		<real>115.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>淮北</string>
		<key>lat</key>
		<real>33.969999999999999</real>
		<key>lon</key>
		<real>116.77</real>
	</dict>
	<dict>
		<key>city</key>
		<string>淮南</string>
		<key>lat</key>
		<real>32.619999999999997</real>
		<key>lon</key>
		<real>116.98</real>
	</dict>
	<dict>
		<key>city</key>
		<string>黄山</string>
		<key>lat</key>
		<real>29.43</real>
		<key>lon</key>
		<real>118.18000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>六安</string>
		<key>lat</key>
		<real>31.73</real>
		<key>lon</key>
		<real>116.48999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>马鞍山</string>
		<key>lat</key>
		<real>31.559999999999999</real>
		<key>lon</key>
		<real>118.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宿州</string>
		<key>lat</key>
		<real>33.630000000000003</real>
		<key>lon</key>
		<real>116.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>铜陵</string>
		<key>lat</key>
		<real>30.93</real>
		<key>lon</key>
		<real>117.81999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>芜湖</string>
		<key>lat</key>
		<real>31.329999999999998</real>
		<key>lon</key>
		<real>118.38</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宣州</string>
		<key>lat</key>
		<real>30.57</real>
		<key>lon</key>
		<real>118.44</real>
	</dict>
	<dict>
		<key>city</key>
		<string>福州</string>
		<key>lat</key>
		<real>26.079999999999998</real>
		<key>lon</key>
		<real>119.3</real>
	</dict>
	<dict>
		<key>city</key>
		<string>龙海</string>
		<key>lat</key>
		<real>24.440000000000001</real>
		<key>lon</key>
		<real>117.79000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>龙岩</string>
		<key>lat</key>
		<real>25.120000000000001</real>
		<key>lon</key>
		<real>117.01000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南平</string>
		<key>lat</key>
		<real>26.649999999999999</real>
		<key>lon</key>
		<real>118.16</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宁德</string>
		<key>lat</key>
		<real>26.649999999999999</real>
		<key>lon</key>
		<real>119.52</real>
	</dict>
	<dict>
		<key>city</key>
		<string>莆田</string>
		<key>lat</key>
		<real>25.440000000000001</real>
		<key>lon</key>
		<real>119.01000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>泉州</string>
		<key>lat</key>
		<real>24.93</real>
		<key>lon</key>
		<real>118.58</real>
	</dict>
	<dict>
		<key>city</key>
		<string>三明</string>
		<key>lat</key>
		<real>26.23</real>
		<key>lon</key>
		<real>117.61</real>
	</dict>
	<dict>
		<key>city</key>
		<string>厦门</string>
		<key>lat</key>
		<real>24.460000000000001</real>
		<key>lon</key>
		<real>118.09999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>漳州</string>
		<key>lat</key>
		<real>24.52</real>
		<key>lon</key>
		<real>117.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>兰州</string>
		<key>lat</key>
		<real>36.030000000000001</real>
		<key>lon</key>
		<real>103.73</real>
	</dict>
	<dict>
		<key>city</key>
		<string>白银</string>
		<key>lat</key>
		<real>36.539999999999999</real>
		<key>lon</key>
		<real>104.12</real>
	</dict>
	<dict>
		<key>city</key>
		<string>嘉峪关</string>
		<key>lat</key>
		<real>39.770000000000003</real>
		<key>lon</key>
		<real>98.280000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>金昌</string>
		<key>lat</key>
		<real>38.520000000000003</real>
		<key>lon</key>
		<real>102.18000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>酒泉</string>
		<key>lat</key>
		<real>39.710000000000001</real>
		<key>lon</key>
		<real>98.5</real>
	</dict>
	<dict>
		<key>city</key>
		<string>平凉</string>
		<key>lat</key>
		<real>35.509999999999998</real>
		<key>lon</key>
		<real>106.68000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>天水</string>
		<key>lat</key>
		<real>34.600000000000001</real>
		<key>lon</key>
		<real>105.69</real>
	</dict>
	<dict>
		<key>city</key>
		<string>武威</string>
		<key>lat</key>
		<real>37.939999999999998</real>
		<key>lon</key>
		<real>102.61</real>
	</dict>
	<dict>
		<key>city</key>
		<string>张掖</string>
		<key>lat</key>
		<real>38.93</real>
		<key>lon</key>
		<real>100.45999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>广州</string>
		<key>lat</key>
		<real>23.16</real>
		<key>lon</key>
		<real>113.23</real>
	</dict>
	<dict>
		<key>city</key>
		<string>潮州</string>
		<key>lat</key>
		<real>23.68</real>
		<key>lon</key>
		<real>116.63</real>
	</dict>
	<dict>
		<key>city</key>
		<string>东莞</string>
		<key>lat</key>
		<real>23.039999999999999</real>
		<key>lon</key>
		<real>113.75</real>
	</dict>
	<dict>
		<key>city</key>
		<string>佛山</string>
		<key>lat</key>
		<real>23.050000000000001</real>
		<key>lon</key>
		<real>113.11</real>
	</dict>
	<dict>
		<key>city</key>
		<string>河源</string>
		<key>lat</key>
		<real>23.73</real>
		<key>lon</key>
		<real>114.68000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>惠州</string>
		<key>lat</key>
		<real>23.09</real>
		<key>lon</key>
		<real>114.40000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>江门</string>
		<key>lat</key>
		<real>22.609999999999999</real>
		<key>lon</key>
		<real>113.06</real>
	</dict>
	<dict>
		<key>city</key>
		<string>茂名</string>
		<key>lat</key>
		<real>21.68</real>
		<key>lon</key>
		<real>110.88</real>
	</dict>
	<dict>
		<key>city</key>
		<string>梅州</string>
		<key>lat</key>
		<real>24.550000000000001</real>
		<key>lon</key>
		<real>116.09999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>清远</string>
		<key>lat</key>
		<real>23.699999999999999</real>
		<key>lon</key>
		<real>113.01000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>汕头</string>
		<key>lat</key>
		<real>23.390000000000001</real>
		<key>lon</key>
		<real>116.69</real>
	</dict>
	<dict>
		<key>city</key>
		<string>汕尾</string>
		<key>lat</key>
		<real>22.780000000000001</real>
		<key>lon</key>
		<real>115.37</real>
	</dict>
	<dict>
		<key>city</key>
		<string>韶关</string>
		<key>lat</key>
		<real>24.84</real>
		<key>lon</key>
		<real>113.62</real>
	</dict>
	<dict>
		<key>city</key>
		<string>深圳</string>
		<key>lat</key>
		<real>22.539999999999999</real>
		<key>lon</key>
		<real>114.05</real>
	</dict>
	<dict>
		<key>city</key>
		<string>顺德</string>
		<key>lat</key>
		<real>22.84</real>
		<key>lon</key>
		<real>113.23999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阳江</string>
		<key>lat</key>
		<real>21.850000000000001</real>
		<key>lon</key>
		<real>111.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>云浮</string>
		<key>lat</key>
		<real>22.920000000000002</real>
		<key>lon</key>
		<real>112.04000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>湛江</string>
		<key>lat</key>
		<real>21.27</real>
		<key>lon</key>
		<real>110.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>肇庆</string>
		<key>lat</key>
		<real>23.039999999999999</real>
		<key>lon</key>
		<real>112.45</real>
	</dict>
	<dict>
		<key>city</key>
		<string>中山</string>
		<key>lat</key>
		<real>22.309999999999999</real>
		<key>lon</key>
		<real>113.22</real>
	</dict>
	<dict>
		<key>city</key>
		<string>珠海</string>
		<key>lat</key>
		<real>22.300000000000001</real>
		<key>lon</key>
		<real>113.52</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南宁</string>
		<key>lat</key>
		<real>22.84</real>
		<key>lon</key>
		<real>108.33</real>
	</dict>
	<dict>
		<key>city</key>
		<string>北海</string>
		<key>lat</key>
		<real>21.489999999999998</real>
		<key>lon</key>
		<real>109.12</real>
	</dict>
	<dict>
		<key>city</key>
		<string>百色</string>
		<key>lat</key>
		<real>23.91</real>
		<key>lon</key>
		<real>106.62</real>
	</dict>
	<dict>
		<key>city</key>
		<string>防城港</string>
		<key>lat</key>
		<real>21.620000000000001</real>
		<key>lon</key>
		<real>108.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>贵港</string>
		<key>lat</key>
		<real>23.109999999999999</real>
		<key>lon</key>
		<real>109.59</real>
	</dict>
	<dict>
		<key>city</key>
		<string>桂林</string>
		<key>lat</key>
		<real>25.289999999999999</real>
		<key>lon</key>
		<real>110.28</real>
	</dict>
	<dict>
		<key>city</key>
		<string>河池</string>
		<key>lat</key>
		<real>24.699999999999999</real>
		<key>lon</key>
		<real>108.06</real>
	</dict>
	<dict>
		<key>city</key>
		<string>柳州</string>
		<key>lat</key>
		<real>24.329999999999998</real>
		<key>lon</key>
		<real>109.40000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>钦州</string>
		<key>lat</key>
		<real>21.960000000000001</real>
		<key>lon</key>
		<real>108.61</real>
	</dict>
	<dict>
		<key>city</key>
		<string>梧州</string>
		<key>lat</key>
		<real>23.510000000000002</real>
		<key>lon</key>
		<real>111.34</real>
	</dict>
	<dict>
		<key>city</key>
		<string>玉林</string>
		<key>lat</key>
		<real>22.640000000000001</real>
		<key>lon</key>
		<real>110.14</real>
	</dict>
	<dict>
		<key>city</key>
		<string>贵阳</string>
		<key>lat</key>
		<real>26.57</real>
		<key>lon</key>
		<real>106.70999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>安顺</string>
		<key>lat</key>
		<real>26.25</real>
		<key>lon</key>
		<real>105.92</real>
	</dict>
	<dict>
		<key>city</key>
		<string>六盘水</string>
		<key>lat</key>
		<real>26.579999999999998</real>
		<key>lon</key>
		<real>104.81999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>兴义</string>
		<key>lat</key>
		<real>25.100000000000001</real>
		<key>lon</key>
		<real>104.91</real>
	</dict>
	<dict>
		<key>city</key>
		<string>遵义</string>
		<key>lat</key>
		<real>27.699999999999999</real>
		<key>lon</key>
		<real>106.90000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>海口</string>
		<key>lat</key>
		<real>20.02</real>
		<key>lon</key>
		<real>110.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>儋州</string>
		<key>lat</key>
		<real>19.52</real>
		<key>lon</key>
		<real>109.56999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>琼海</string>
		<key>lat</key>
		<real>19.25</real>
		<key>lon</key>
		<real>110.45999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>琼山</string>
		<key>lat</key>
		<real>19.98</real>
		<key>lon</key>
		<real>110.33</real>
	</dict>
	<dict>
		<key>city</key>
		<string>三亚</string>
		<key>lat</key>
		<real>18.25</real>
		<key>lon</key>
		<real>109.51000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>石家庄</string>
		<key>lat</key>
		<real>38.030000000000001</real>
		<key>lon</key>
		<real>114.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>保定</string>
		<key>lat</key>
		<real>38.850000000000001</real>
		<key>lon</key>
		<real>115.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>沧州</string>
		<key>lat</key>
		<real>38.329999999999998</real>
		<key>lon</key>
		<real>116.83</real>
	</dict>
	<dict>
		<key>city</key>
		<string>承德</string>
		<key>lat</key>
		<real>40.979999999999997</real>
		<key>lon</key>
		<real>117.94</real>
	</dict>
	<dict>
		<key>city</key>
		<string>邯郸</string>
		<key>lat</key>
		<real>36.600000000000001</real>
		<key>lon</key>
		<real>114.47</real>
	</dict>
	<dict>
		<key>city</key>
		<string>衡水</string>
		<key>lat</key>
		<real>37.719999999999999</real>
		<key>lon</key>
		<real>115.72</real>
	</dict>
	<dict>
		<key>city</key>
		<string>廓坊</string>
		<key>lat</key>
		<real>39.530000000000001</real>
		<key>lon</key>
		<real>116.7</real>
	</dict>
	<dict>
		<key>city</key>
		<string>秦皇岛</string>
		<key>lat</key>
		<real>39.950000000000003</real>
		<key>lon</key>
		<real>119.56999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>唐山</string>
		<key>lat</key>
		<real>39.630000000000003</real>
		<key>lon</key>
		<real>118.02</real>
	</dict>
	<dict>
		<key>city</key>
		<string>张家口</string>
		<key>lat</key>
		<real>40.82</real>
		<key>lon</key>
		<real>114.87</real>
	</dict>
	<dict>
		<key>city</key>
		<string>郑州</string>
		<key>lat</key>
		<real>34.759999999999998</real>
		<key>lon</key>
		<real>113.65000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>安阳</string>
		<key>lat</key>
		<real>36.100000000000001</real>
		<key>lon</key>
		<real>114.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>鹤壁</string>
		<key>lat</key>
		<real>35.899999999999999</real>
		<key>lon</key>
		<real>114.17</real>
	</dict>
	<dict>
		<key>city</key>
		<string>焦作</string>
		<key>lat</key>
		<real>35.240000000000002</real>
		<key>lon</key>
		<real>113.20999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>济源</string>
		<key>lat</key>
		<real>35.079999999999998</real>
		<key>lon</key>
		<real>112.56999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>开封</string>
		<key>lat</key>
		<real>34.789999999999999</real>
		<key>lon</key>
		<real>114.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>漯河</string>
		<key>lat</key>
		<real>33.560000000000002</real>
		<key>lon</key>
		<real>114.02</real>
	</dict>
	<dict>
		<key>city</key>
		<string>洛阳</string>
		<key>lat</key>
		<real>34.700000000000003</real>
		<key>lon</key>
		<real>112.44</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南阳</string>
		<key>lat</key>
		<real>33.009999999999998</real>
		<key>lon</key>
		<real>112.53</real>
	</dict>
	<dict>
		<key>city</key>
		<string>平顶山</string>
		<key>lat</key>
		<real>33.75</real>
		<key>lon</key>
		<real>113.29000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>濮阳</string>
		<key>lat</key>
		<real>35.759999999999998</real>
		<key>lon</key>
		<real>115.02</real>
	</dict>
	<dict>
		<key>city</key>
		<string>三门峡</string>
		<key>lat</key>
		<real>34.759999999999998</real>
		<key>lon</key>
		<real>111.19</real>
	</dict>
	<dict>
		<key>city</key>
		<string>商丘</string>
		<key>lat</key>
		<real>34.439999999999998</real>
		<key>lon</key>
		<real>115.65000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>新乡</string>
		<key>lat</key>
		<real>35.310000000000002</real>
		<key>lon</key>
		<real>113.84999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>信阳</string>
		<key>lat</key>
		<real>32.130000000000003</real>
		<key>lon</key>
		<real>114.08</real>
	</dict>
	<dict>
		<key>city</key>
		<string>许昌</string>
		<key>lat</key>
		<real>34.020000000000003</real>
		<key>lon</key>
		<real>113.81</real>
	</dict>
	<dict>
		<key>city</key>
		<string>周口</string>
		<key>lat</key>
		<real>33.630000000000003</real>
		<key>lon</key>
		<real>114.63</real>
	</dict>
	<dict>
		<key>city</key>
		<string>驻马店</string>
		<key>lat</key>
		<real>32.979999999999997</real>
		<key>lon</key>
		<real>114.02</real>
	</dict>
	<dict>
		<key>city</key>
		<string>哈尔滨</string>
		<key>lat</key>
		<real>45.75</real>
		<key>lon</key>
		<real>126.63</real>
	</dict>
	<dict>
		<key>city</key>
		<string>大庆</string>
		<key>lat</key>
		<real>46.579999999999998</real>
		<key>lon</key>
		<real>125.03</real>
	</dict>
	<dict>
		<key>city</key>
		<string>黑河</string>
		<key>lat</key>
		<real>50.219999999999999</real>
		<key>lon</key>
		<real>127.53</real>
	</dict>
	<dict>
		<key>city</key>
		<string>佳木斯</string>
		<key>lat</key>
		<real>46.829999999999998</real>
		<key>lon</key>
		<real>130.34999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>鸡西</string>
		<key>lat</key>
		<real>45.299999999999997</real>
		<key>lon</key>
		<real>130.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>牡丹江</string>
		<key>lat</key>
		<real>44.600000000000001</real>
		<key>lon</key>
		<real>129.58000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>齐齐哈尔</string>
		<key>lat</key>
		<real>47.329999999999998</real>
		<key>lon</key>
		<real>123.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>七台河</string>
		<key>lat</key>
		<real>45.82</real>
		<key>lon</key>
		<real>130.83000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>双鸭山</string>
		<key>lat</key>
		<real>46.649999999999999</real>
		<key>lon</key>
		<real>131.16999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>绥芬河</string>
		<key>lat</key>
		<real>44.380000000000003</real>
		<key>lon</key>
		<real>131.16999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>绥化</string>
		<key>lat</key>
		<real>46.630000000000003</real>
		<key>lon</key>
		<real>127</real>
	</dict>
	<dict>
		<key>city</key>
		<string>武汉</string>
		<key>lat</key>
		<real>30.52</real>
		<key>lon</key>
		<real>114.31</real>
	</dict>
	<dict>
		<key>city</key>
		<string>黄石</string>
		<key>lat</key>
		<real>30.199999999999999</real>
		<key>lon</key>
		<real>115.09</real>
	</dict>
	<dict>
		<key>city</key>
		<string>荆门</string>
		<key>lat</key>
		<real>31.02</real>
		<key>lon</key>
		<real>112.19</real>
	</dict>
	<dict>
		<key>city</key>
		<string>十堰</string>
		<key>lat</key>
		<real>32.649999999999999</real>
		<key>lon</key>
		<real>110.79000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>随州</string>
		<key>lat</key>
		<real>31.690000000000001</real>
		<key>lon</key>
		<real>113.38</real>
	</dict>
	<dict>
		<key>city</key>
		<string>天门</string>
		<key>lat</key>
		<real>30.66</real>
		<key>lon</key>
		<real>113.16</real>
	</dict>
	<dict>
		<key>city</key>
		<string>襄樊</string>
		<key>lat</key>
		<real>32.020000000000003</real>
		<key>lon</key>
		<real>112.14</real>
	</dict>
	<dict>
		<key>city</key>
		<string>咸宁</string>
		<key>lat</key>
		<real>29.870000000000001</real>
		<key>lon</key>
		<real>114.28</real>
	</dict>
	<dict>
		<key>city</key>
		<string>仙桃</string>
		<key>lat</key>
		<real>30.359999999999999</real>
		<key>lon</key>
		<real>113.45</real>
	</dict>
	<dict>
		<key>city</key>
		<string>孝感</string>
		<key>lat</key>
		<real>30.920000000000002</real>
		<key>lon</key>
		<real>113.91</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宜昌</string>
		<key>lat</key>
		<real>30.699999999999999</real>
		<key>lon</key>
		<real>111.3</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宜城</string>
		<key>lat</key>
		<real>31.719999999999999</real>
		<key>lon</key>
		<real>112.25</real>
	</dict>
	<dict>
		<key>city</key>
		<string>枣阳</string>
		<key>lat</key>
		<real>32.130000000000003</real>
		<key>lon</key>
		<real>112.77</real>
	</dict>
	<dict>
		<key>city</key>
		<string>长沙</string>
		<key>lat</key>
		<real>28.23</real>
		<key>lon</key>
		<real>112.93000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>常德</string>
		<key>lat</key>
		<real>29.02</real>
		<key>lon</key>
		<real>111.68000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>郴州</string>
		<key>lat</key>
		<real>25.789999999999999</real>
		<key>lon</key>
		<real>113</real>
	</dict>
	<dict>
		<key>city</key>
		<string>衡阳</string>
		<key>lat</key>
		<real>26.890000000000001</real>
		<key>lon</key>
		<real>112.61</real>
	</dict>
	<dict>
		<key>city</key>
		<string>怀化</string>
		<key>lat</key>
		<real>27.52</real>
		<key>lon</key>
		<real>109.95</real>
	</dict>
	<dict>
		<key>city</key>
		<string>津市</string>
		<key>lat</key>
		<real>29.609999999999999</real>
		<key>lon</key>
		<real>111.87</real>
	</dict>
	<dict>
		<key>city</key>
		<string>浏阳</string>
		<key>lat</key>
		<real>28.16</real>
		<key>lon</key>
		<real>113.63</real>
	</dict>
	<dict>
		<key>city</key>
		<string>娄底</string>
		<key>lat</key>
		<real>27.710000000000001</real>
		<key>lon</key>
		<real>111.95999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>韶山</string>
		<key>lat</key>
		<real>27.920000000000002</real>
		<key>lon</key>
		<real>112.52</real>
	</dict>
	<dict>
		<key>city</key>
		<string>邵阳</string>
		<key>lat</key>
		<real>27.239999999999998</real>
		<key>lon</key>
		<real>111.45999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>湘潭</string>
		<key>lat</key>
		<real>27.829999999999998</real>
		<key>lon</key>
		<real>112.94</real>
	</dict>
	<dict>
		<key>city</key>
		<string>永州</string>
		<key>lat</key>
		<real>26.420000000000002</real>
		<key>lon</key>
		<real>111.61</real>
	</dict>
	<dict>
		<key>city</key>
		<string>岳阳</string>
		<key>lat</key>
		<real>29.359999999999999</real>
		<key>lon</key>
		<real>113.12</real>
	</dict>
	<dict>
		<key>city</key>
		<string>张家界</string>
		<key>lat</key>
		<real>29.120000000000001</real>
		<key>lon</key>
		<real>110.47</real>
	</dict>
	<dict>
		<key>city</key>
		<string>株洲</string>
		<key>lat</key>
		<real>27.829999999999998</real>
		<key>lon</key>
		<real>113.13</real>
	</dict>
	<dict>
		<key>city</key>
		<string>长春</string>
		<key>lat</key>
		<real>43.82</real>
		<key>lon</key>
		<real>125.31999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>白城</string>
		<key>lat</key>
		<real>45.619999999999997</real>
		<key>lon</key>
		<real>122.84</real>
	</dict>
	<dict>
		<key>city</key>
		<string>白山</string>
		<key>lat</key>
		<real>41.939999999999998</real>
		<key>lon</key>
		<real>126.42</real>
	</dict>
	<dict>
		<key>city</key>
		<string>敦化</string>
		<key>lat</key>
		<real>43.369999999999997</real>
		<key>lon</key>
		<real>128.22999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>公主岭</string>
		<key>lat</key>
		<real>43.509999999999998</real>
		<key>lon</key>
		<real>124.81999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>吉林</string>
		<key>lat</key>
		<real>43.840000000000003</real>
		<key>lon</key>
		<real>126.54000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>辽源</string>
		<key>lat</key>
		<real>42.890000000000001</real>
		<key>lon</key>
		<real>125.14</real>
	</dict>
	<dict>
		<key>city</key>
		<string>通化</string>
		<key>lat</key>
		<real>41.729999999999997</real>
		<key>lon</key>
		<real>125.93000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南京</string>
		<key>lat</key>
		<real>32.060000000000002</real>
		<key>lon</key>
		<real>118.79000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>常熟</string>
		<key>lat</key>
		<real>31.649999999999999</real>
		<key>lon</key>
		<real>120.75</real>
	</dict>
	<dict>
		<key>city</key>
		<string>常州</string>
		<key>lat</key>
		<real>31.809999999999999</real>
		<key>lon</key>
		<real>119.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>淮安</string>
		<key>lat</key>
		<real>33.609999999999999</real>
		<key>lon</key>
		<real>119.01000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>昆山</string>
		<key>lat</key>
		<real>31.390000000000001</real>
		<key>lon</key>
		<real>120.95</real>
	</dict>
	<dict>
		<key>city</key>
		<string>连云港</string>
		<key>lat</key>
		<real>34.590000000000003</real>
		<key>lon</key>
		<real>119.16</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南通</string>
		<key>lat</key>
		<real>31.98</real>
		<key>lon</key>
		<real>120.89</real>
	</dict>
	<dict>
		<key>city</key>
		<string>如皋</string>
		<key>lat</key>
		<real>32.390000000000001</real>
		<key>lon</key>
		<real>120.56</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宿迁</string>
		<key>lat</key>
		<real>33.960000000000001</real>
		<key>lon</key>
		<real>118.27</real>
	</dict>
	<dict>
		<key>city</key>
		<string>苏州</string>
		<key>lat</key>
		<real>31.32</real>
		<key>lon</key>
		<real>120.62</real>
	</dict>
	<dict>
		<key>city</key>
		<string>太仓</string>
		<key>lat</key>
		<real>31.449999999999999</real>
		<key>lon</key>
		<real>121.09999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>泰兴</string>
		<key>lat</key>
		<real>32.159999999999997</real>
		<key>lon</key>
		<real>120.02</real>
	</dict>
	<dict>
		<key>city</key>
		<string>泰州</string>
		<key>lat</key>
		<real>32.490000000000002</real>
		<key>lon</key>
		<real>119.90000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>通州</string>
		<key>lat</key>
		<real>32.060000000000002</real>
		<key>lon</key>
		<real>121.06</real>
	</dict>
	<dict>
		<key>city</key>
		<string>无锡</string>
		<key>lat</key>
		<real>31.59</real>
		<key>lon</key>
		<real>120.29000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>徐州</string>
		<key>lat</key>
		<real>34.259999999999998</real>
		<key>lon</key>
		<real>117.2</real>
	</dict>
	<dict>
		<key>city</key>
		<string>扬州</string>
		<key>lat</key>
		<real>32.390000000000001</real>
		<key>lon</key>
		<real>119.42</real>
	</dict>
	<dict>
		<key>city</key>
		<string>张家港</string>
		<key>lat</key>
		<real>31.870000000000001</real>
		<key>lon</key>
		<real>120.55</real>
	</dict>
	<dict>
		<key>city</key>
		<string>镇江</string>
		<key>lat</key>
		<real>32.189999999999998</real>
		<key>lon</key>
		<real>119.45</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南昌</string>
		<key>lat</key>
		<real>28.68</real>
		<key>lon</key>
		<real>115.89</real>
	</dict>
	<dict>
		<key>city</key>
		<string>赣州</string>
		<key>lat</key>
		<real>25.82</real>
		<key>lon</key>
		<real>114.92</real>
	</dict>
	<dict>
		<key>city</key>
		<string>吉安</string>
		<key>lat</key>
		<real>27.120000000000001</real>
		<key>lon</key>
		<real>114.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>景德镇</string>
		<key>lat</key>
		<real>29.300000000000001</real>
		<key>lon</key>
		<real>117.22</real>
	</dict>
	<dict>
		<key>city</key>
		<string>井冈山</string>
		<key>lat</key>
		<real>26.57</real>
		<key>lon</key>
		<real>114.17</real>
	</dict>
	<dict>
		<key>city</key>
		<string>九江</string>
		<key>lat</key>
		<real>29.710000000000001</real>
		<key>lon</key>
		<real>115.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>萍乡</string>
		<key>lat</key>
		<real>27.600000000000001</real>
		<key>lon</key>
		<real>113.84999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>瑞金</string>
		<key>lat</key>
		<real>25.890000000000001</real>
		<key>lon</key>
		<real>116.02</real>
	</dict>
	<dict>
		<key>city</key>
		<string>上饶</string>
		<key>lat</key>
		<real>28.440000000000001</real>
		<key>lon</key>
		<real>117.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>新余</string>
		<key>lat</key>
		<real>27.82</real>
		<key>lon</key>
		<real>114.91</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宜春</string>
		<key>lat</key>
		<real>27.789999999999999</real>
		<key>lon</key>
		<real>114.39</real>
	</dict>
	<dict>
		<key>city</key>
		<string>鹰潭</string>
		<key>lat</key>
		<real>28.260000000000002</real>
		<key>lon</key>
		<real>117.06</real>
	</dict>
	<dict>
		<key>city</key>
		<string>沈阳</string>
		<key>lat</key>
		<real>41.799999999999997</real>
		<key>lon</key>
		<real>123.38</real>
	</dict>
	<dict>
		<key>city</key>
		<string>鞍山</string>
		<key>lat</key>
		<real>41.100000000000001</real>
		<key>lon</key>
		<real>123</real>
	</dict>
	<dict>
		<key>city</key>
		<string>本溪</string>
		<key>lat</key>
		<real>41.289999999999999</real>
		<key>lon</key>
		<real>123.76000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>朝阳</string>
		<key>lat</key>
		<real>41.57</real>
		<key>lon</key>
		<real>120.44</real>
	</dict>
	<dict>
		<key>city</key>
		<string>大连</string>
		<key>lat</key>
		<real>38.909999999999997</real>
		<key>lon</key>
		<real>121.59999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>丹东</string>
		<key>lat</key>
		<real>40.119999999999997</real>
		<key>lon</key>
		<real>124.37</real>
	</dict>
	<dict>
		<key>city</key>
		<string>抚顺</string>
		<key>lat</key>
		<real>41.880000000000003</real>
		<key>lon</key>
		<real>123.95</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阜新</string>
		<key>lat</key>
		<real>42.020000000000003</real>
		<key>lon</key>
		<real>121.66</real>
	</dict>
	<dict>
		<key>city</key>
		<string>葫芦岛</string>
		<key>lat</key>
		<real>40.700000000000003</real>
		<key>lon</key>
		<real>120.83</real>
	</dict>
	<dict>
		<key>city</key>
		<string>锦州</string>
		<key>lat</key>
		<real>41.130000000000003</real>
		<key>lon</key>
		<real>121.15000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>辽阳</string>
		<key>lat</key>
		<real>41.280000000000001</real>
		<key>lon</key>
		<real>123.17</real>
	</dict>
	<dict>
		<key>city</key>
		<string>盘锦</string>
		<key>lat</key>
		<real>41.119999999999997</real>
		<key>lon</key>
		<real>122.06</real>
	</dict>
	<dict>
		<key>city</key>
		<string>铁岭</string>
		<key>lat</key>
		<real>42.280000000000001</real>
		<key>lon</key>
		<real>123.83</real>
	</dict>
	<dict>
		<key>city</key>
		<string>营口</string>
		<key>lat</key>
		<real>40.090000000000003</real>
		<key>lon</key>
		<real>122.17</real>
	</dict>
	<dict>
		<key>city</key>
		<string>呼和浩特</string>
		<key>lat</key>
		<real>40.840000000000003</real>
		<key>lon</key>
		<real>111.73999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>包头</string>
		<key>lat</key>
		<real>40.579999999999998</real>
		<key>lon</key>
		<real>110</real>
	</dict>
	<dict>
		<key>city</key>
		<string>赤峰</string>
		<key>lat</key>
		<real>42.280000000000001</real>
		<key>lon</key>
		<real>118.87</real>
	</dict>
	<dict>
		<key>city</key>
		<string>满洲里</string>
		<key>lat</key>
		<real>49.579999999999998</real>
		<key>lon</key>
		<real>117.47</real>
	</dict>
	<dict>
		<key>city</key>
		<string>通辽</string>
		<key>lat</key>
		<real>43.630000000000003</real>
		<key>lon</key>
		<real>122.28</real>
	</dict>
	<dict>
		<key>city</key>
		<string>乌兰浩特</string>
		<key>lat</key>
		<real>46.07</real>
		<key>lon</key>
		<real>122.08</real>
	</dict>
	<dict>
		<key>city</key>
		<string>乌海</string>
		<key>lat</key>
		<real>39.670000000000002</real>
		<key>lon</key>
		<real>106.81999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>银川</string>
		<key>lat</key>
		<real>38.479999999999997</real>
		<key>lon</key>
		<real>106.23</real>
	</dict>
	<dict>
		<key>city</key>
		<string>青铜峡</string>
		<key>lat</key>
		<real>38.020000000000003</real>
		<key>lon</key>
		<real>106.06999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>石嘴山</string>
		<key>lat</key>
		<real>39.039999999999999</real>
		<key>lon</key>
		<real>106.39</real>
	</dict>
	<dict>
		<key>city</key>
		<string>吴忠</string>
		<key>lat</key>
		<real>37.990000000000002</real>
		<key>lon</key>
		<real>106.20999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>西宁</string>
		<key>lat</key>
		<real>36.609999999999999</real>
		<key>lon</key>
		<real>101.77</real>
	</dict>
	<dict>
		<key>city</key>
		<string>德令哈</string>
		<key>lat</key>
		<real>37.369999999999997</real>
		<key>lon</key>
		<real>97.349999999999994</real>
	</dict>
	<dict>
		<key>city</key>
		<string>格尔木</string>
		<key>lat</key>
		<real>36.409999999999997</real>
		<key>lon</key>
		<real>94.900000000000006</real>
	</dict>
	<dict>
		<key>city</key>
		<string>济南</string>
		<key>lat</key>
		<real>36.649999999999999</real>
		<key>lon</key>
		<real>117</real>
	</dict>
	<dict>
		<key>city</key>
		<string>青岛</string>
		<key>lat</key>
		<real>36.07</real>
		<key>lon</key>
		<real>120.33</real>
	</dict>
	<dict>
		<key>city</key>
		<string>安丘</string>
		<key>lat</key>
		<real>36.469999999999999</real>
		<key>lon</key>
		<real>119.20999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>滨州</string>
		<key>lat</key>
		<real>37.369999999999997</real>
		<key>lon</key>
		<real>117.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>昌邑</string>
		<key>lat</key>
		<real>36.859999999999999</real>
		<key>lon</key>
		<real>119.41</real>
	</dict>
	<dict>
		<key>city</key>
		<string>德州</string>
		<key>lat</key>
		<real>37.450000000000003</real>
		<key>lon</key>
		<real>116.29000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>东营</string>
		<key>lat</key>
		<real>37.460000000000001</real>
		<key>lon</key>
		<real>118.48999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>菏泽</string>
		<key>lat</key>
		<real>35.229999999999997</real>
		<key>lon</key>
		<real>115.47</real>
	</dict>
	<dict>
		<key>city</key>
		<string>济宁</string>
		<key>lat</key>
		<real>35.409999999999997</real>
		<key>lon</key>
		<real>116.58</real>
	</dict>
	<dict>
		<key>city</key>
		<string>莱芜</string>
		<key>lat</key>
		<real>36.210000000000001</real>
		<key>lon</key>
		<real>117.67</real>
	</dict>
	<dict>
		<key>city</key>
		<string>聊城</string>
		<key>lat</key>
		<real>36.450000000000003</real>
		<key>lon</key>
		<real>115.98</real>
	</dict>
	<dict>
		<key>city</key>
		<string>临沂</string>
		<key>lat</key>
		<real>35.049999999999997</real>
		<key>lon</key>
		<real>118.34</real>
	</dict>
	<dict>
		<key>city</key>
		<string>蓬莱</string>
		<key>lat</key>
		<real>37.810000000000002</real>
		<key>lon</key>
		<real>120.75</real>
	</dict>
	<dict>
		<key>city</key>
		<string>曲阜</string>
		<key>lat</key>
		<real>35.579999999999998</real>
		<key>lon</key>
		<real>116.98</real>
	</dict>
	<dict>
		<key>city</key>
		<string>日照</string>
		<key>lat</key>
		<real>35.409999999999997</real>
		<key>lon</key>
		<real>119.52</real>
	</dict>
	<dict>
		<key>city</key>
		<string>荣成</string>
		<key>lat</key>
		<real>37.159999999999997</real>
		<key>lon</key>
		<real>122.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>泰安</string>
		<key>lat</key>
		<real>36.200000000000003</real>
		<key>lon</key>
		<real>117.08</real>
	</dict>
	<dict>
		<key>city</key>
		<string>潍坊</string>
		<key>lat</key>
		<real>36.700000000000003</real>
		<key>lon</key>
		<real>119.15000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>威海</string>
		<key>lat</key>
		<real>37.509999999999998</real>
		<key>lon</key>
		<real>122.11</real>
	</dict>
	<dict>
		<key>city</key>
		<string>烟台</string>
		<key>lat</key>
		<real>37.460000000000001</real>
		<key>lon</key>
		<real>121.44</real>
	</dict>
	<dict>
		<key>city</key>
		<string>枣庄</string>
		<key>lat</key>
		<real>34.810000000000002</real>
		<key>lon</key>
		<real>117.31</real>
	</dict>
	<dict>
		<key>city</key>
		<string>淄博</string>
		<key>lat</key>
		<real>36.810000000000002</real>
		<key>lon</key>
		<real>118.05</real>
	</dict>
	<dict>
		<key>city</key>
		<string>太原</string>
		<key>lat</key>
		<real>37.869999999999997</real>
		<key>lon</key>
		<real>112.54000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>大同</string>
		<key>lat</key>
		<real>40.07</real>
		<key>lon</key>
		<real>113.29000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>晋城</string>
		<key>lat</key>
		<real>35.490000000000002</real>
		<key>lon</key>
		<real>112.84</real>
	</dict>
	<dict>
		<key>city</key>
		<string>临汾</string>
		<key>lat</key>
		<real>36.079999999999998</real>
		<key>lon</key>
		<real>111.51000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>朔州</string>
		<key>lat</key>
		<real>39.329999999999998</real>
		<key>lon</key>
		<real>112.42</real>
	</dict>
	<dict>
		<key>city</key>
		<string>忻州</string>
		<key>lat</key>
		<real>38.409999999999997</real>
		<key>lon</key>
		<real>112.72</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阳泉</string>
		<key>lat</key>
		<real>37.850000000000001</real>
		<key>lon</key>
		<real>113.56999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>运城</string>
		<key>lat</key>
		<real>35.020000000000003</real>
		<key>lon</key>
		<real>111</real>
	</dict>
	<dict>
		<key>city</key>
		<string>西安</string>
		<key>lat</key>
		<real>34.259999999999998</real>
		<key>lon</key>
		<real>108.94</real>
	</dict>
	<dict>
		<key>city</key>
		<string>咸阳</string>
		<key>lat</key>
		<real>34.329999999999998</real>
		<key>lon</key>
		<real>108.7</real>
	</dict>
	<dict>
		<key>city</key>
		<string>安康</string>
		<key>lat</key>
		<real>32.689999999999998</real>
		<key>lon</key>
		<real>109.03</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宝鸡</string>
		<key>lat</key>
		<real>34.369999999999997</real>
		<key>lon</key>
		<real>107.13</real>
	</dict>
	<dict>
		<key>city</key>
		<string>汉中</string>
		<key>lat</key>
		<real>33.07</real>
		<key>lon</key>
		<real>107.01000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>商州</string>
		<key>lat</key>
		<real>33.859999999999999</real>
		<key>lon</key>
		<real>109.94</real>
	</dict>
	<dict>
		<key>city</key>
		<string>铜川</string>
		<key>lat</key>
		<real>34.899999999999999</real>
		<key>lon</key>
		<real>108.94</real>
	</dict>
	<dict>
		<key>city</key>
		<string>渭南</string>
		<key>lat</key>
		<real>34.5</real>
		<key>lon</key>
		<real>109.5</real>
	</dict>
	<dict>
		<key>city</key>
		<string>延安</string>
		<key>lat</key>
		<real>36.579999999999998</real>
		<key>lon</key>
		<real>109.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>榆林</string>
		<key>lat</key>
		<real>38.289999999999999</real>
		<key>lon</key>
		<real>109.73</real>
	</dict>
	<dict>
		<key>city</key>
		<string>成都</string>
		<key>lat</key>
		<real>30.66</real>
		<key>lon</key>
		<real>104.06</real>
	</dict>
	<dict>
		<key>city</key>
		<string>巴中</string>
		<key>lat</key>
		<real>31.870000000000001</real>
		<key>lon</key>
		<real>106.73999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>崇州</string>
		<key>lat</key>
		<real>30.629999999999999</real>
		<key>lon</key>
		<real>103.67</real>
	</dict>
	<dict>
		<key>city</key>
		<string>达川</string>
		<key>lat</key>
		<real>31.210000000000001</real>
		<key>lon</key>
		<real>107.45999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>德阳</string>
		<key>lat</key>
		<real>31.129999999999999</real>
		<key>lon</key>
		<real>104.37</real>
	</dict>
	<dict>
		<key>city</key>
		<string>都江堰</string>
		<key>lat</key>
		<real>31</real>
		<key>lon</key>
		<real>103.61</real>
	</dict>
	<dict>
		<key>city</key>
		<string>峨眉山</string>
		<key>lat</key>
		<real>29.600000000000001</real>
		<key>lon</key>
		<real>103.48</real>
	</dict>
	<dict>
		<key>city</key>
		<string>广元</string>
		<key>lat</key>
		<real>32.43</real>
		<key>lon</key>
		<real>105.84</real>
	</dict>
	<dict>
		<key>city</key>
		<string>乐山</string>
		<key>lat</key>
		<real>29.550000000000001</real>
		<key>lon</key>
		<real>103.76000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>泸州</string>
		<key>lat</key>
		<real>28.870000000000001</real>
		<key>lon</key>
		<real>105.44</real>
	</dict>
	<dict>
		<key>city</key>
		<string>绵阳</string>
		<key>lat</key>
		<real>31.469999999999999</real>
		<key>lon</key>
		<real>104.67</real>
	</dict>
	<dict>
		<key>city</key>
		<string>南充</string>
		<key>lat</key>
		<real>30.84</real>
		<key>lon</key>
		<real>106.11</real>
	</dict>
	<dict>
		<key>city</key>
		<string>内江</string>
		<key>lat</key>
		<real>29.579999999999998</real>
		<key>lon</key>
		<real>105.05</real>
	</dict>
	<dict>
		<key>city</key>
		<string>攀枝花</string>
		<key>lat</key>
		<real>26.579999999999998</real>
		<key>lon</key>
		<real>101.70999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>雅安</string>
		<key>lat</key>
		<real>29.98</real>
		<key>lon</key>
		<real>103.01000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宜宾</string>
		<key>lat</key>
		<real>28.75</real>
		<key>lon</key>
		<real>104.64</real>
	</dict>
	<dict>
		<key>city</key>
		<string>自贡</string>
		<key>lat</key>
		<real>29.34</real>
		<key>lon</key>
		<real>104.77</real>
	</dict>
	<dict>
		<key>city</key>
		<string>资阳</string>
		<key>lat</key>
		<real>30.129999999999999</real>
		<key>lon</key>
		<real>104.62</real>
	</dict>
	<dict>
		<key>city</key>
		<string>拉萨</string>
		<key>lat</key>
		<real>29.649999999999999</real>
		<key>lon</key>
		<real>91.140000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>日喀则</string>
		<key>lat</key>
		<real>29.280000000000001</real>
		<key>lon</key>
		<real>88.819999999999993</real>
	</dict>
	<dict>
		<key>city</key>
		<string>乌鲁木齐</string>
		<key>lat</key>
		<real>43.829999999999998</real>
		<key>lon</key>
		<real>87.609999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阿克苏</string>
		<key>lat</key>
		<real>41.170000000000002</real>
		<key>lon</key>
		<real>80.260000000000005</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阿勒泰</string>
		<key>lat</key>
		<real>47.840000000000003</real>
		<key>lon</key>
		<real>88.129999999999995</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阿图什</string>
		<key>lat</key>
		<real>39.719999999999999</real>
		<key>lon</key>
		<real>76.159999999999997</real>
	</dict>
	<dict>
		<key>city</key>
		<string>博乐</string>
		<key>lat</key>
		<real>44.899999999999999</real>
		<key>lon</key>
		<real>82.069999999999993</real>
	</dict>
	<dict>
		<key>city</key>
		<string>昌吉</string>
		<key>lat</key>
		<real>44.020000000000003</real>
		<key>lon</key>
		<real>87.299999999999997</real>
	</dict>
	<dict>
		<key>city</key>
		<string>阜康</string>
		<key>lat</key>
		<real>44.159999999999997</real>
		<key>lon</key>
		<real>87.980000000000004</real>
	</dict>
	<dict>
		<key>city</key>
		<string>哈密</string>
		<key>lat</key>
		<real>42.82</real>
		<key>lon</key>
		<real>93.510000000000005</real>
	</dict>
	<dict>
		<key>city</key>
		<string>和田</string>
		<key>lat</key>
		<real>37.109999999999999</real>
		<key>lon</key>
		<real>79.920000000000002</real>
	</dict>
	<dict>
		<key>city</key>
		<string>克拉玛依</string>
		<key>lat</key>
		<real>45.579999999999998</real>
		<key>lon</key>
		<real>84.879999999999995</real>
	</dict>
	<dict>
		<key>city</key>
		<string>喀什</string>
		<key>lat</key>
		<real>39.469999999999999</real>
		<key>lon</key>
		<real>75.980000000000004</real>
	</dict>
	<dict>
		<key>city</key>
		<string>库尔勒</string>
		<key>lat</key>
		<real>41.770000000000003</real>
		<key>lon</key>
		<real>86.150000000000006</real>
	</dict>
	<dict>
		<key>city</key>
		<string>奎屯</string>
		<key>lat</key>
		<real>44.43</real>
		<key>lon</key>
		<real>84.900000000000006</real>
	</dict>
	<dict>
		<key>city</key>
		<string>石河子</string>
		<key>lat</key>
		<real>44.310000000000002</real>
		<key>lon</key>
		<real>86.079999999999998</real>
	</dict>
	<dict>
		<key>city</key>
		<string>塔城</string>
		<key>lat</key>
		<real>46.75</real>
		<key>lon</key>
		<real>82.980000000000004</real>
	</dict>
	<dict>
		<key>city</key>
		<string>吐鲁番</string>
		<key>lat</key>
		<real>42.950000000000003</real>
		<key>lon</key>
		<real>89.180000000000007</real>
	</dict>
	<dict>
		<key>city</key>
		<string>伊宁</string>
		<key>lat</key>
		<real>43.909999999999997</real>
		<key>lon</key>
		<real>81.319999999999993</real>
	</dict>
	<dict>
		<key>city</key>
		<string>昆明</string>
		<key>lat</key>
		<real>25.030000000000001</real>
		<key>lon</key>
		<real>102.70999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>保山</string>
		<key>lat</key>
		<real>25.109999999999999</real>
		<key>lon</key>
		<real>99.159999999999997</real>
	</dict>
	<dict>
		<key>city</key>
		<string>大理</string>
		<key>lat</key>
		<real>25.600000000000001</real>
		<key>lon</key>
		<real>100.26000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>曲靖</string>
		<key>lat</key>
		<real>25.510000000000002</real>
		<key>lon</key>
		<real>103.79000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>思茅</string>
		<key>lat</key>
		<real>22.780000000000001</real>
		<key>lon</key>
		<real>100.97</real>
	</dict>
	<dict>
		<key>city</key>
		<string>玉溪</string>
		<key>lat</key>
		<real>24.350000000000001</real>
		<key>lon</key>
		<real>102.54000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>昭通</string>
		<key>lat</key>
		<real>27.34</real>
		<key>lon</key>
		<real>103.70999999999999</real>
	</dict>
	<dict>
		<key>city</key>
		<string>杭州</string>
		<key>lat</key>
		<real>30.27</real>
		<key>lon</key>
		<real>120.15000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>奉化</string>
		<key>lat</key>
		<real>29.66</real>
		<key>lon</key>
		<real>121.40000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>湖州</string>
		<key>lat</key>
		<real>30.890000000000001</real>
		<key>lon</key>
		<real>120.08</real>
	</dict>
	<dict>
		<key>city</key>
		<string>嘉兴</string>
		<key>lat</key>
		<real>30.75</real>
		<key>lon</key>
		<real>120.75</real>
	</dict>
	<dict>
		<key>city</key>
		<string>金华</string>
		<key>lat</key>
		<real>29.079999999999998</real>
		<key>lon</key>
		<real>119.64</real>
	</dict>
	<dict>
		<key>city</key>
		<string>丽水</string>
		<key>lat</key>
		<real>28.469999999999999</real>
		<key>lon</key>
		<real>119.92</real>
	</dict>
	<dict>
		<key>city</key>
		<string>宁波</string>
		<key>lat</key>
		<real>29.870000000000001</real>
		<key>lon</key>
		<real>121.54000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>衢州</string>
		<key>lat</key>
		<real>28.940000000000001</real>
		<key>lon</key>
		<real>118.87</real>
	</dict>
	<dict>
		<key>city</key>
		<string>瑞安</string>
		<key>lat</key>
		<real>27.780000000000001</real>
		<key>lon</key>
		<real>120.65000000000001</real>
	</dict>
	<dict>
		<key>city</key>
		<string>绍兴</string>
		<key>lat</key>
		<real>30</real>
		<key>lon</key>
		<real>120.58</real>
	</dict>
	<dict>
		<key>city</key>
		<string>台州</string>
		<key>lat</key>
		<real>28.66</real>
		<key>lon</key>
		<real>121.41</real>
	</dict>
	<dict>
		<key>city</key>
		<string>温州</string>
		<key>lat</key>
		<real>28</real>
		<key>lon</key>
		<real>120.69</real>
	</dict>
	<dict>
		<key>city</key>
		<string>义乌</string>
		<key>lat</key>
		<real>29.309999999999999</real>
		<key>lon</key>
		<real>120.06999999999999</real>
	</dict>
</array>
</plist>
